# Environment Configuration
NODE_ENV=development

# Database Configuration only for local dev
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=nest-test

# Application Configuration
PORT=3000
